{% extends "vocabularies/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<ul class="nav nav-tabs">
	  <li class="active mr-2"><a href="{% url 'profile' %}">Profile</a></li>
	  <li class="mr-2"><a href="{% url 'password_change' %}">Security</a></li>
	  <li><a href="{% url 'all_user_words' %}">Words</a></li>
	</ul>

  	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Update User Profile</legend>
				{{ p_form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="tbn btn-outline-info" type="submit">Confirm</button>
			</div>
		</form>
	</div>

{% endblock content %}